#game-board {
  width: 200px;
  margin: 0 auto;
  position: relative;
}

#game-board .row {
  overflow: hidden;
  width: 150px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#game-board .row .cell {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #ccc;
  cursor: pointer;
  flex: 1;
}

#game-board .row .cell:first-child {
  border-left: 1px solid #ccc;
}